Demo/baidu_search/baidu_search.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: baidu_search
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1740837061143-source-1740978204897-target
      source: '1740837061143'
      sourceHandle: source
      target: '1740978204897'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1740978204897-source-1740837055361-target
      selected: false
      source: '1740978204897'
      sourceHandle: source
      target: '1740837055361'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1740837055361-source-17409785925550-target
      source: '1740837055361'
      sourceHandle: source
      target: '17409785925550'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1740836938267-source-1740837061143-target
      source: '1740836938267'
      sourceHandle: source
      target: '1740837061143'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1740836938267'
      position:
        x: 657.0097040864192
        y: 286.5
      positionAbsolute:
        x: 657.0097040864192
        y: 286.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1740978204897'
          - text
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2:latest
          provider: ollama
        prompt_template:
        - id: 7817d315-f696-44cb-a04f-2033606f5fb4
          role: system
          text: '用户的问题是：{{#sys.query#}}，用“\\\  \\\”包裹的是从互联网上找到的知识，请帮我总结这个问题的答案。


            \\\

            {{#1740978204897.text#}}

            \\\

            '
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1740837055361'
      position:
        x: 1553.8152409270128
        y: 286.5
      positionAbsolute:
        x: 1553.8152409270128
        y: 286.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: 530f1677-32cc-4cee-baed-7459d4af4579
        provider_name: text
        provider_type: api
        selected: false
        title: baidu_search_api_dify_baidu_search_post
        tool_configurations: {}
        tool_label: baidu_search_api_dify_baidu_search_post
        tool_name: baidu_search_api_dify_baidu_search_post
        tool_parameters:
          keyword:
            type: mixed
            value: '{{#sys.query#}}'
        type: tool
      height: 54
      id: '1740837061143'
      position:
        x: 963.8265966218494
        y: 286.5
      positionAbsolute:
        x: 963.8265966218494
        y: 286.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: json_process
        provider_name: json_process
        provider_type: builtin
        selected: false
        title: JSON 解析
        tool_configurations:
          ensure_ascii: 0
        tool_label: JSON 解析
        tool_name: parse
        tool_parameters:
          content:
            type: mixed
            value: '{{#1740837061143.text#}}'
          json_filter:
            type: mixed
            value: result
        type: tool
      height: 90
      id: '1740978204897'
      position:
        x: 1255.5569665748415
        y: 286.5
      positionAbsolute:
        x: 1255.5569665748415
        y: 286.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1740837055361.text#}}'
        desc: ''
        selected: false
        title: 直接回复 (1)
        type: answer
        variables: []
      height: 103
      id: '17409785925550'
      position:
        x: 1848
        y: 286.5
      positionAbsolute:
        x: 1848
        y: 286.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -294.81273597480094
      y: 259.25852550280064
      zoom: 0.9075191553171578
