Demo/paddle_ocr/paddleocr.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: paddleocr
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: tool
        targetType: end
      id: 1740897149498-source-1740897009003-target
      source: '1740897149498'
      sourceHandle: source
      target: '1740897009003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1740891939344-source-1742876663480-target
      source: '1740891939344'
      sourceHandle: source
      target: '1742876663480'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1742876663480-source-1740897149498-target
      source: '1742876663480'
      sourceHandle: source
      target: '1740897149498'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          allowed_file_upload_methods:
          - remote_url
          label: image_url
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: image_url
        - label: describe
          max_length: 100
          options: []
          required: true
          type: text-input
          variable: describe
      height: 116
      id: '1740891939344'
      position:
        x: 33.58801997187413
        y: 295.3494176387866
      positionAbsolute:
        x: 33.58801997187413
        y: 295.3494176387866
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740897149498'
          - text
          variable: text
        selected: true
        title: 结束
        type: end
      height: 90
      id: '1740897009003'
      position:
        x: 992.9712624520614
        y: 295.3494176387866
      positionAbsolute:
        x: 992.9712624520614
        y: 295.3494176387866
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: json_process
        provider_name: json_process
        provider_type: builtin
        selected: false
        title: JSON 解析
        tool_configurations:
          ensure_ascii: 0
        tool_label: JSON 解析
        tool_name: parse
        tool_parameters:
          content:
            type: mixed
            value: '{{#1742876663480.text#}}'
          json_filter:
            type: mixed
            value: result
        type: tool
      height: 90
      id: '1740897149498'
      position:
        x: 670.953139679138
        y: 295.3494176387866
      positionAbsolute:
        x: 670.953139679138
        y: 295.3494176387866
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: 3e372e9c-951a-42f6-a109-b2bbd6b6a987
        provider_name: ocr
        provider_type: api
        selected: false
        title: ocr_ocr_post
        tool_configurations: {}
        tool_label: ocr_ocr_post
        tool_name: ocr_ocr_post
        tool_parameters:
          url:
            type: mixed
            value: '{{#1740891939344.image_url#}}'
        type: tool
      height: 54
      id: '1742876663480'
      position:
        x: 351.46077820123315
        y: 295.3494176387866
      positionAbsolute:
        x: 351.46077820123315
        y: 295.3494176387866
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 183.25270212178475
      y: 232.78553821377898
      zoom: 1.0628956743585496
